body{
    background-image: url('images/symptom.jpg');
    background-repeat: repeat;
    
}

.navBar{
    background-color:rgba(238, 227, 75, 0.1) ;
    
    display: block;
    padding-top: 0px;
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
}

ul{
    list-style-type: none;
    
}

li {
    padding-top: 14px;
    text-decoration: none;
    position: relative;
    left: 0px;
    float: left;
    padding-left: 10%;
    

}

li a {
    text-decoration: none;
    color: rgb(4, 54, 54);
}

li a:hover{
    color: rgb(110, 100, 4);
    display: block;
    
    overflow: visible;
}

#name {
    text-emphasis: initial;
    text-decoration: underline;
}

.predict{
    text-align: center;
    border-style: groove;
    border-color: black;
    height: 400px;
    margin-top: 10px;
    display: block;
    width: 400px;
    margin-left: 36.5%;
}

#p{
    font-weight: 100;
}

#message{
    text-align: center;
}




form{
    text-align: center;
    border-style: groove;
    border-color: beige;
    display: block;
    height: 180px;
    width: 300px;
    position: fixed;
    left: 610px;
    padding-top: 20px;
}


.login{
    text-align: center;
    font-size: 30px;
    border-style: ridge;
    display: block;
    width: 800px;
    background-color: rgb(209, 189, 160, 0.3);
    margin-left: 370px;
    margin-top: 240px;
}

#login{
    font-style: italic;
}

