<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'indexage.css' %}">
</head>
<body>
    

    <div class="navBar"> 
        <ul>
            {% if user.is_authenticated %}
            <li id="name">Hello {{user.first_name}}.</li>
            {% endif %}
            <li><a href="{%url 'index'%}">Home</a></li>
            <li><a href="{%url 'bmi'%}">BMI</a></li>
            <li><a href="{%url 'symptom'%}">Disease</a></li>
            {% if user.is_authenticated %}
            <li><a href="{%url 'logout'%}">Logout</a></li>

            {% else %}           
            <li><a href="{%url 'login'%}">Login</a></li>
            <li><a href="{%url 'register'%}">Register</a></li>
            
            {% endif %}
        </ul>

    </div>

    <div class="quote">
        <pre><q> Money doesn't mean anything to me. 
I've made a lot of money, but I want to 
enjoy life and not stress myself building 
my bank account. I give lots away and live 
simply, mostly out of a suitcase in hotels. 
We all know that good health is much more 
important.</q>
                              -Keanu Reeves</pre>
    </div>
    
</body>
</html>